In [12]:
import pandas as pd

In [16]:
#Load in the data
X = pd.read_csv("../data/trainFeatures.csv")
y = pd.read_csv("../data/trainTarget.csv")

In [19]:
print ('Train set:', X.shape,  y.shape)
print ('Test set:', X.shape,  y.shape)

Train set: (3000, 45) (3000, 1)

In [20]:
X.head()

,has_collection,budget_processed,log_budget,genres_reform,num_genres,genre_rank,log_num_genres,log_genre_rank,has_homepage,in_english,...,log_num_crew,log_num_male_crew,log_num_female_crew,runtime_processed,log_runtime,log_title_len,log_num_cast,topLeadActor,log_numTopActors,log_revenue
0,Belongs in Collection,14000000,16.454568,['Comedy'],1,9,0.693147,2.302585,0,1,...,4.290459,2.639057,2.639057,93.0,4.543295,3.135494,3.218876,0,0.000000,16.326300
1,Belongs in Collection,40000000,17.504390,"['Comedy', 'Drama', 'Family', 'Romance']",4,9,1.609438,2.302585,0,1,...,2.302585,1.609438,1.609438,113.0,4.736198,3.713572,3.044522,0,0.693147,18.370959
2,Not in Collection,3300000,15.009433,['Drama'],1,4,0.693147,1.609438,1,1,...,4.174387,2.484907,2.484907,105.0,4.663439,2.197225,3.931826,0,0.000000,16.387512
3,Not in Collection,1200000,13.997833,"['Thriller', 'Drama']",2,12,1.098612,2.564949,1,0,...,1.386294,0.000000,0.000000,122.0,4.812184,2.079442,2.079442,0,0.000000,16.588099
4,Not in Collection,16000000,0.000000,"['Action', 'Thriller']",2,15,1.098612,2.772589,0,0,...,1.098612,0.000000,0.000000,118.0,4.779123,2.397895,1.609438,0,0.000000,15.182615

In [21]:
y.head()

   log_revenue
0    16.326300
1    18.370959
2    16.387512
3    16.588099
4    15.182615